h1 {
  font-family: Josefin Sans;
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 20px;
  color: hsl(0, 6%, 24%);
  line-height: 1;
}

.purpleTitle {
  color: hsl(0, 36%, 70%);
  font-weight: lighter;
}

p {
  font-family: Josefin Sans;
  color: hsl(0, 36%, 70%);
  letter-spacing: 1px;
}

.attribution {
  font-family: Josefin Sans;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  font-family: Josefin Sans;
  color: hsl(228, 45%, 44%);
}

/* images */

.logo-img {
  margin: 50px 0px 100px;
}

.girl-img {
    max-width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

/* Layout */

.left-col {
  padding-left: 200px;
  padding-right: 270px;
  padding-bottom: 0px;
  margin: 0px;
  height: 100vh;
}

.row, body, .container-fluid {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-image: url("images/bg-pattern-desktop.svg");
  background-size: cover;
}

.right-col {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  text-align: right;
}

/* Email input */

input[type="email"] {
  width: 100%;
  border-radius: 30px;
  height: 50px;
  opacity: 50%;
  padding: 15px 22px;
  margin-top: 20px;
  border: solid 1px;
  color: hsl(0, 36%, 70%);
}

::placeholder {
  color: hsl(0, 36%, 70%);
  font-family: Josefin Sans;
}

button {
  width: 100px;
  border-radius: 30px;
  height: 50px;
  padding: auto 22px;
  margin-top: 20px;
  margin-left: -100px;
  position: absolute;
  border: solid 0px;
  color: hsl(0, 36%, 70%);
  background-image: linear-gradient(
    to right,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%) 100%
  );
}
